.pista-container {
  width: 100%;
  max-width: 1200px;
  padding: 0 25px;
  margin: 20px auto;
}

.pista-container header {
  display: flex;
  align-items: center;
}

.pista-container header span {
 font-size: 20px;
 margin-left: 25px;
}

.pista-container header span strong{
  color: #333333;
}

.pista-container header img{
  height: 50px;
}

.pista-container header a{
  width: 250px;
  margin-left: auto;
  margin-top: 0;
}

.pista-container header button{
  height: 30px;
  width: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.5s;
}

#inicio{
  margin-right: 350px;
  
}
table {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
  background: #FFFFFF;
}

th {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: left;
}

td {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: left;
}

.thOpcoes {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: left;
  width: 10%;
}

.tdOpcoes {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: right;
  width: 10%;
}